<h1>Welcome!</h1>


<% if venue_logged_in? %>
    <h1>You are Logged In, <%= current_venue_user.username %>
    </h1>
    <%= button_to "My Homepage", @venue, method: :get %>
    <%= button_to 'Log Out', venuelogout_path, method: :delete %>
    <%else%>
<br>
<br>
<br>
<br>
<br>
<br>


<%= button_to "Login", '/venue-login', method: :get%>
<br>
<%= button_to "Sign Up", '/venues/new', method: :get%>
<br>
<%= button_to "Main Menu", '/', method: :get%>
<br>


<%end%>
