<h1> Venue Sign Up</h1>
<br>
<br>
<br>
<br>
<br>
<br>

 <% if flash[:errors] %>
    <ol class="messages">
      <% flash[:errors].each do |error| %>
        <li>
          <%= error %>
        </li>
      <% end %>
    </ol>
  <% end %>

<%= form_for @venue do |f|%>
  <%= f.label :username %>
  <%= f.text_field :username%>
  <%= f.label :password%>
  <%= f.password_field :password %>
  <%= f.label :venue_name %> 
  <%= f.text_field  :venue_name %> 
  <%= f.label :bankroll %> 
  <%= f.text_field  :bankroll %> 
  <%= f.label :zipcode %> 
  <%= f.number_field  :zipcode %>
  <%= f.submit %>
<%end%>


<h3><%= button_to " Back to Welcome Screen!" , venue_user_path  %>  </h3>
