<h1>Welcome <%= @venue.venue_name %>! </h1>

<ol>
    <%= button_to 'Search for Artist', localsearch_path %>
    <%= button_to 'Create a Gig' %>
    <%= button_to 'View Gigs' %> 
    <%= button_to 'Book Agency Artist', agencies_path, method: :get %>
    <%= button_to 'Log Out', venuelogout_path, method: :delete %>
</ol>
<!-- 
 @current_customer = Customer.find_by(id: session[:customer_id])
   -->