


<%= image_tag('https://wallpapercave.com/wp/lwfQm84.jpg') %>
<%= image_tag("quagmire.png", :alt => "rss feed") %>

<audio src="<%= audio_path 'poundcake_instrumental.mp3'%>" type="audio/mpeg" controls>
    Your browser does not support the audio element.
</audio>
<section > 
   <h1> Welcome to Giggity!</font> </h1>
</section>

<h3>Please Select your User Type </h3>
<br>
<%= button_to 'Click here for Artists!', artist_user_path %>
<%= button_to 'Click here for Venues!', venue_user_path %>


