
<h1>Local Artist Search</h1>

<br>
<br>
<br>
<br>
<br>

<center>
<h4> Search Artist by Zipcode: </h4>
<%= form_tag(local_artists_path, method: :get) do %>
<%= number_field_tag(:zipcode, params[:zipcode]) %>
<%= submit_tag "Search" %>
<% end %>
</center>

<br>
<br>
<br>
<br>
<center>
 <div> Artist in your area </div> 

<% if @artists.exists? %>
<% @artists.each do |artist| %>
<ul>
   <li>Artist Name: <%= link_to  artist.artist_name, artist %> </li> 
   <li>Artist Rating: <%= artist.rating %> </li>
</ul>
    <% end %>
<br>
<% else %>
<p>There are no local artists near zipcode: <%= params[:zipcode] %></p>
<% end %>
</center>

