<center>
<h1><%= @artist.artist_name %>'s Artist Page</h1>
<h2> Genre: <%= @artist.genre %> </h2>
<h2>Artist Rating: <%= @artist.rating %></h2>
<h2> Songs: </h2>
<ul>
<% @artist.local_artist_songs.each do |local_artist_song| %>

  <li><%= link_to local_artist_song.title, local_artist_song %></li> 
      <% end %> 
</ul>
<menu>
<%= button_to "Offer Local Gig" %>
<%= button_to "Back to Home Page!", @venue, method: :get %>
</menu>
</center>
